@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); /* Nunito font */

* {
  font-family: "Nunito", sans-serif;
  scrollbar-color: #6ebede #2e313b;
}

body {
  overflow-x: hidden;
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #2e313b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #6ebede;
  border-radius: 20px;
}

#main {
  height: 110vh;
  color: white;
  background: rgba(0, 0, 0, 0.925);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#section1 {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #000000c0;
  color: white;
}

#section1bg {
  filter: blur(4px);
  position: absolute;
  z-index: -1;
}

#section1pic {
  height: 480px;
  width: 1000px;
}

#section2 {
  height: 100vh;
  width: 100vw;
  background: #303030;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#plugins {
  height: 500px;
  width: 650px;
}

#iframe,
#button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  padding: 100px;
}

#video {
  width: 100%;
  height: 100%;
  filter: blur(4px);
  position: absolute;
  z-index: -1;
  object-fit: fill;
}
#video2 {
  width: 600px;
  height: 600px;
}

#button a {
  text-decoration: none;
}

.btn,
.btn2 {
  width: 130px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 75px;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #6e87de, #5449b9);
  color: white;
}

.btn2 {
  width: 170px;
  background: linear-gradient(to right, #5b80b1, #49a8b9);
}
.btn2,
.hidden {
  display: none;
}

.btn:hover {
  background: linear-gradient(to right, #6e87de, #6749b9);
  box-shadow: 0 0 10px rgba(110, 135, 222, 0.5),
    0 0 20px rgba(110, 135, 222, 0.3), 0 0 30px rgba(110, 135, 222, 0.1);
  transform: translateY(-2px);
  color: white;
}
.btn2:hover {
  background: linear-gradient(to right, #5b80b1, #49a8b9);
  box-shadow: 0 0 10px rgba(110, 172, 222, 0.5),
    0 0 20px rgba(110, 177, 222, 0.3), 0 0 30px rgba(110, 135, 222, 0.1);
  transform: translateY(-2px);
  color: white;
}

.middle {
  vertical-align: -0.2em;
}

#scrollTopButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 170px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 75px;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #de9b6e, #b97249);
  color: var(--white);
  color: white;
  visibility: hidden;
}
#scrollTopButton:hover {
  background: linear-gradient(to right, #de9b6e, #b97249);
  box-shadow: 0 0 10px rgba(222, 177, 110, 0.5),
    0 0 20px rgba(222, 174, 110, 0.3), 0 0 30px rgba(110, 135, 222, 0.1);
  transform: translateY(-2px);
}

#player-count,
#online-status {
  color: greenyellow;
}

@media only screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }
  #main {
    justify-content: center;
  }
  #main div {
    width: 300px;
  }
  #video {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
  #video2,
  #section2 h2,
  #plugins {
    display: none;
  }
  #section1 {
    flex-direction: column;
  }
  #section1bg {
    width: 300px;
  }
  #padding {
    padding: 0;
  }
  .btn2,
  .hidden {
    display: inherit;
  }
  #section1pic {
    width: 200px;
    height: 100px;
  }
  #section1text h3 {
    font-size: 20px;
  }
  #section1text p {
    font-size: 16px;
    width: 180px !important;
  }
  #section1text h6 {
    font-size: 15px;
    width: 300px !important;
  }
}
